
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $fuente-principal;
    font-size: 1.6rem;
    line-height: 2;
    background-color: rgb(22, 22, 22);
    color: $blanco;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.6rem;
}

br {
    display: inline-block;
    padding: 0;
    margin-top: 0px;
}

img {
    width: 100%;
}
