/* HEADER */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $negro;

}

a {
    text-decoration: none;
    color: $blanco;
    padding: 0 1rem;
}

.navegacion-principal {
    text-transform: uppercase;


}

.navegacion-principal-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.navegacion-principal-lista {
    a {
        color: white;
        transition: border linear 2s;
        position: relative;
    }
}

.navegacion-principal-lista {
    a:hover {
        background-color: #1c1c1c;
        color: white;
        font-weight: bold;
    }
}

.navegacion-principal-lista {

    a::after {


        content: '';
        position: absolute;
        width: 100%;
        height: .3rem;
        left: 0;
        bottom: 0;
        background: red;
        transform: scale(0, 1);
    }
}

.navegacion-principal-lista {
    a:hover::after {
        transform: scale(1, 1);
        transition: transform 0.3s ease;
        cursor: pointer;
    }

}



.titulo {
    font-size: 5rem;
    font-family: $fuente-titulo;
    color: $blanco;
    margin: 2rem;
    line-height: 1;
    text-align: center;

}

@media (max-width: 480px) {
    .header {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .navegacion-principal {
        display: none;
    }

    .header {
        .titulo h1 {
            font-size: 1.5rem;
            align-items: left;
        }
    }
}

.caja {
    display: inline-block;
    border: 2px solid #ffffff;
    padding: 1rem;
}

/* DESPLEGABLE */

#btn-check {
    display: none;

}

.btn-chk {
    cursor: pointer;
}

.desplegable {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-check:checked~.desplegable {
    opacity: 1;
    visibility: visible;
}

.cont-nav {
    width: 100%;
    max-width: 250px;
    background-color: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;

}

.nav-desplegable {
    transform: translateY(15%);

}

.nav-desplegable {
    a {
        display: block;
        text-decoration: none;
        padding: 20px;
        color: $blanco;
        border-left: 5px solid transparent;
        transition: all 1s ease;
    }
}

.nav-desplegable {
    a:hover {
        border-left: 5px solid #c7c7c7;
        background-color: #1f1f1f;
    }

}

.equis {
    background-color: #969696;
    color: $negro;
    padding: .5rem .8rem;
    border-radius: 10%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}