.main-reserv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    column-gap: 5rem;
}

.container {
    margin: 5em auto;
    width: 700px;


}

.title {
    text-align: center;
    margin: .2em 0;
    color: var(--blanco);
    font-size: 3em;
    text-shadow: 1px 3px 0 #969696, -8px 15px 5px #aba8a8;

}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    border-radius: 25%;

}

.day {
    list-style: none;
    text-align: center;
    padding: .3em .5em;
    border: 1px solid #ddd;
    border-radius: 25%;
    height: 4em;
    padding-top: 1em;
    background-color: var(--blanco);
    color: var(--negro);
    font-weight: 700;
    font-size: 1.8em;
}

.day-name {
    font-weight: 700;
    text-align: center;
    list-style: none;
}

.form {
    fieldset {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10rem;
        margin: 0;
        padding: 1rem;
        gap: 1.5rem;
        border: 1px solid rgb(59, 59, 59);
        font-family: var(--fuente-principal);
    }
}

label {
    grid-column: 1/2;
}

input,
select,
textarea {
    border: none;
    border-radius: .5rem;
    background-color: rgb(37, 37, 37);
    color: white;
}

.chkbx {
    -ms-transform: scale(1.5);
    /* IE */
    -moz-transform: scale(1.5);
    /* FF */
    -webkit-transform: scale(1.5);
    /* Safari y Chrome */
    -o-transform: scale(1.5);
    /* Opera */
    padding: 10%;
}

textarea {
    height: 15rem;
}

.boton-env {
    border: none;
    border-radius: 1rem;
    margin: 0;
    padding: 2rem 2rem 3rem 2rem;
    text-align: center;
    font-family: var(--fuente-principal);
    font-weight: bold;
    background-color: rgb(123, 204, 70);
}

.boton-env {
    &:hover {
        background-color: rgb(91, 143, 56);
        cursor: pointer;
    }
}

.gout {
    color: #969696;
}

.morado {
    background-color: #b376c5;
}

.verde {
    background-color: aquamarine;
}

.day:hover {
    background-color: #969696;
}

.m-oscuro {
    background-color: #9229b3;
}