@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Rubik+Glitch&display=swap');

$fuente-principal: 'Adamina', serif;
$fuente-titulo: 'Rubik Glitch', cursive;

/* Paleta de colores */
$negro: #000000;
$blanco: #ffffff;
$rojo: #ff0000;