@import 'variables';
@import 'base';
@import 'header';
@import 'main';
@import 'nosotros';
@import 'e-shop';
@import 'reservaciones';
@import 'media';
@import 'mixins';
@import 'galery';
@import 'footer';

